body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

.cartas {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 0 auto;
}

.cartas img {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: auto;
}

.cartas img:nth-child(1) {
  left: 0;
  z-index: 1;
}
.cartas img:nth-child(2) {
  left: 20px;
  z-index: 2;
}
.cartas img:nth-child(3) {
  left: 40px;
  z-index: 3;
}
.cartas img:nth-child(4) {
  left: 60px;
  z-index: 4;
}
.cartas img:nth-child(5) {
  left: 80px;
  z-index: 5;
}

